.direnv
.cache
.conjure

lib
out
bin
result
*.spv
output.txt
compile_commands.json


## Test symlinks
activation
semantics
input
theme
main
tree
anim
focus
app
layout
style
debug
image
modal
popup
slider
tabs
text
text_wrap
text_long
text_page
text_scroll
radio
list
dropdown
widget
toast
snapshot
nav
scrollbar
gauge
scoped
cursor
selectable
selection
clipboard
gradient

butter-x11
butter-wayland
sdl2
sdl3
raylib

!/src/cheese/style
!/include/cheese/style
