.direnv
.cache
.conjure

lib
out
bin
result
*.spv
output.txt
compile_commands.json


## Test symlinks
activation
semantics
input
theme
main
tree
anim
focus
app
layout
style
debug
image
modal
popup
slider
tabs
text
radio
list
dropdown
widget
toast
snapshot
nav
raylib
scrollbar
text_wrap
gauge
scoped
sdl2
sdl3
cursor
selectable
selection
clipboard

butter-x11
butter-wayland
